.ProductBarContainer{
    border-top: 1px solid #e5e5e5 ;
    border-bottom: 1px solid #e5e5e5;
    background-color: white;
    padding: 5px 0px;
}
.ProductBarContainer .totalItem{
    font-size: 18px;
    line-height: 40px;
    color: var(--black-color);
    font-weight: 700;
    font-family:var(--roboto);
}
.ProductBarContainer .filterItem{
    font-size: 16px;
    line-height: 40px;
    color:#888792;
    font-weight: 400;
}
.ProductBarContainer .recommenedItem{
    font-size: 18px;
    line-height: 40px;
    color: var(--black-color);
    font-weight: 700;
    font-family:var(--roboto);
}
